/********************
Callout
********************/
.vcex-callout { 
	padding: 15px;
	position: relative; 
	background: #f7f7f7; 
	border: 1px solid #e4e4e4; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	min-height: 70px;
	
	&-caption { 
		float: left;
		font-size: 14px; 
		font-weight: normal;
		
		h1, h2, h3, h4 {
			margin: 0; 
			font-size: 21px; 
			font-weight: normal; 
			color: #000;
		}
		
		p:last-child {
			margin: 0;
		}		
	}
	
	&-button { 
		float: left; 
		width: 25%;
		
		.vcex-button {
			display: block;
			float: right;
			text-align: center;
			font-size: 1em;
			font-weight: normal; 
			margin: 0; 
		}
	}
	
	&.with-button {
		.vcex-callout-caption { 
			width: 75%;
			padding-right: 20px; 
		}
	}
}
