/**********************
Icon Boxes
**********************/
.vcex-icon{
	&-float-center { 
		float: none; 
		display: block;
		margin: 0 auto;
		text-align: center; 
	}

	&-float-left { 
		display: block; 
		float: left; 
		margin-right: 20px;
	}
	
	&-float-right { 
		display: block; 
		float: right;
		margin-left: 20px;
	}
	
	&.vcex-icon-xlarge { 
		font-size: 100px; 
		height: 180px; 
		line-height: 180px;
		width: 180px; 
	}
	
	&.vcex-icon-large {
		font-size: 80px;
		height: 140px;
		line-height: 140px;
		width: 140px; 
	}
	
	&.vcex-icon-normal { 
		font-size: 40px;
		height: 70px;
		line-height: 70px;
		width: 70px; 
	}
	
	&.vcex-icon-small {
		font-size: 20px; 
		height: 35px;
		line-height: 35px;
		width: 35px;
	}
	
	&.vcex-icon-tiny {
		font-size: 0.923em; 
		height: 25px;
		line-height: 25px; 
		width: 25px; 
	}
	
	&.remove-dimensions { 
		height: auto; 
		width: auto; 
		margin: auto;
		line-height: normal;
	}
	
	&.has-bg {
		span {
			text-align: center; 
		}
		
		.vcex-icon-wrap { 
			display: inline-block;
			height: auto; 
			width: auto;
			line-height: 1; 
			padding: 20px; 
		}
	}
	
	&.remove-padding {
		.vcex-icon-wrap { 
			padding: 0 !important;
		}
	}
	
	//////////////////////////////////////////////////////////////////////////// Boxes 
	&-box { 
		position: relative; 
		display: block !important;
		
		p { 
			margin: 0 0 10px;
			
			&:last-child { 
				margin: 0;
			}
		}
		
		&-heading {
			display: block;
			font-size: 1.077em;
			font-weight: 600;
			margin: 0 0 10px;
			line-height: 30px; 
		}
		
		&-link {
			text-decoration: none !important;
		}
		
		&-icon{
			font-size: 24px;
			color: #000;
			display: inline-block;
			zoom: 1;
			line-height: 1;
			
			* { 
				color: inherit;
			}
		
			&.with-background {
				text-align: center;
				vertical-align: middle; 
				padding: 15px; 
			}
		}
		
		&.link-wrap { 
			display: block; 
			text-decoration: none !important;
		}
		
		&.link-wrap, .link-wrap .vcex-icon-box-content {
			color: #555;
		}
		
		//////////////// style one -- left icon 
		&.style-one {
			padding-left: 50px;
			
			&.no-icon { 
				padding-left: 0; 
				&.with-background {
					padding-left: 15px; 
				}
			}
			
			&.with-background { 
				padding-left: 80px;
			}
			
			.vcex-icon-box-icon { 
				position: absolute;
				left: 0;
				top: 0;
			}
			
			.vcex-icon-box-image { 
				position: absolute;
				left: 0; 
				top: 0; 
				display: block;
			}
		}
		
		//////////////////////////// style 2 -- top icon 
		&.style-two { 
			text-align: center;
			margin-bottom: 30px; 
			
			.vcex-icon-box-icon {
				font-size: 26px; 
				margin: 0 0 20px;
				display: inline-block; 
			}
			
			.vcex-icon-box-image {
				display: block; 
				margin: 0 auto 20px; 
			}
			
			&.align-left {
				text-align: left;
			}
			
			&.align-right {
				text-align: right;
			}
			
			&.align-left .vcex-icon-box-image,
			&.align-right .vcex-icon-box-image { 
				display: inline-block;
			}
		}
		
		/////////////////////// style 3 -- legacy 
		&.style-three { 
			text-align: center;
			
			.vcex-icon-box-icon { 
				height: 80px;
				line-height: 80px;
				width: 80px;
				font-size: 24px;
				margin: 0 auto 30px;
				padding: 0;
				border-radius: 50%;
				background: #ccc;
			}
			
			.vcex-icon-box-link:hover .vcex-icon-box-icon { 
				opacity: 0.85;
			}
			
			.vcex-icon-box-image { 
				display: block;
				margin: 0 auto 20px;
			}
		}
		
		////////////////////////// style 4 -- leegacy
		&.style-four { 
			position: relative;
			text-align: center;
			padding: 30px;
			border: 1px solid #eee;
		
			p { 
				margin: 0 0 10px;
			}
			
			.vcex-icon-box-icon { 
				font-size: 28px; 
				margin: 0 0 20px;
				color: #4d4d4d; 
			}
			
			.vcex-icon-box-image { 
				display: block;
				margin: 0 auto 20px;
			}
			
			.vcex-icon-box-content { 
				margin-top: 15px;
			}
			
			.link-wrap:hover { 
				border-color: transparent;
				
				.vcex-icon-box-link,
				.vcex-icon-box-heading,
				.vcex-icon-box-icon,
				.vcex-icon-box-content {
					color: #fff !important;
				}
			}
		}
		
		////////////////////////////// style 5 -- legacy 
		&.style-five {
			text-align: center;
			padding: 30px;
			background-color: #f7f7f7;
			
			p { 
				margin: 0 0 10px;
			}
			
			.vcex-icon-box-icon { 
				font-size: 32px; 
				margin: 0 0 20px;
				color: #4d4d4d;
			}
			
			.vcex-icon-box-image {
				display: block;
				margin: 0 auto 20px;
			}
			
			.vcex-icon-box-content { 
				margin-top: 15px;
			}
			
			&.link-wrap:hover {
				.vcex-icon-box-link,
				.vcex-icon-box-heading,
				.vcex-icon-box-icon,
				.vcex-icon-box-content { 
					color: #fff !important;
				}
			}
		}
		
		/////////////////////////////////// style 6 --- legacy 
		&.style-six {
			text-align: center;
			padding: 30px;
			background-color: #000;
			transition: all .2s ease-in-out;
			position: relative;
			color: #fff;
			
			p { 
				margin: 0 0 10px;
				color: #fff; 
			}
			
			&-link { 
				text-decoration: none !important;
				color: #555; 
				padding: 30px; 
				display: block;
			}
			
			&.link-wrap:hover { 
				position: relative; 
				top: -10px;
				box-shadow: 0 5px 15px rgba(0,0,0,0.25); 
			}
			
			.vcex-icon-box-icon {
				font-size: 32px; 
				margin: 0 0 20px;
				color: #fff; 
			}
			
			.vcex-icon-box-image { 
				display: block;
				margin: 0 auto 20px;
			}
			
			.vcex-icon-box-heading {
				font-size: 0.923em; 
				text-transform: uppercase; 
				letter-spacing: 2px; color: #fff; 
			}
		}
		
		/////////////////// style 7 -- right icon 
		&.style-seven { 
			padding-right: 50px;
			text-align: right;
			
			&.no-icon { 
				padding-right: 0;
				&.with-background {
					padding-left: 15px;
				}
			}
			
			&.with-background {
				padding-right: 80px;
			}
			
			p { 
				margin: 0 0 10px;
			}
			
			.vcex-icon-box-icon { 
				position: absolute;
				right: 0; 
				top: 0;
				font-size: 28px;
				&.with-background {
					padding: 15px;
				}
			}
			
			.vcex-icon-box-image { 
				position: absolute;
				right: 0;
				top: 0;
				display: block;
			}
		}

	}
}

























