/*****************************************
Image Grid 
******************************************/
.vcex-image-grid{
	&.grid-style-no-margins{
		.col { 
			margin: 0;
		}
	}
	
	&-entry{
		img { 
			display: inline-block;
			vertical-align: bottom; 
		}
		
		a { 
			display: block;
			margin: 0 auto; 
		}
		
		&-img { 
			position: relative;
			display: block; 
			margin: 0 auto;
			text-align: center; 
		}
		
		&-title {
			margin: 10px 0 0; 
			text-align: center; 
			
			h2, h3, h4 {
				margin: 0;
			}
			
			p:last-child { 
				margin: 0;
			}
		}	
	}
	
	&-video-overlay {
		position: absolute; 
		top: 50%; 
		left: 50%; 
		height: 60px; 
		line-height: 50px; 
		width: 60px; 
		text-align: center; 
		color: #fff; 
		font-size: 24px; 
		margin-top: -25px; 
		margin-left: -25px; 
		border: 5px solid #fff; 
	}
	
	&.grid-style-no-margins {
		.vcex-image-grid-entry-title { 
			position: absolute;
			bottom: 0; 
			left: 0;
			background: #000;
			background: rgba(0,0,0,0.8); 
			color: #fff; 
			padding: 10px; 
			text-align: center;
			width: 100%;
			
			a {
				color: #fff; 
			}
		}
	}
}

