@import "../core-mixin";
#site-header{
	//-- Header One Start --//
	&.header-one{
		// Header Bottom  
		.header-bottom {
			position: relative;
			line-height: 3;
			border-bottom: 1px dashed $trace;

			// Menu  
			.navbar{
				float: right;
				&.navbar-style-{
					&one{ 
						a:link{ color: $black;}
						a:visited{ color : $link-color;  }
					}
				}
				.mobile-menu-toggle {
					float: left;
					position: relative;
					padding: 16px 0px 14px 14px;
					font-size: 12px;
					color: white;
					&:hover{
						color: #daa520;
					}
				}
			}

			// Social-icons
			.social-icons{ 
				float:left;
				a{
					&:link{ color:$link-color;}
					&:hover{ color:$sec-color;}
					&:visited{ color:$link-color;}
				}
			}

			// Search Icon
			.search-icon{ 
				float: right;
				a{
					&:link{ color:$link-color;}
					&:hover{ color:$sec-color;}
					&:visited{ color:$link-color;}
				}
			}
		}
	}
	//-- Header One End --//
}