/***************************************************************************
OVERLAYS - 
- plus-over
- plus-two-hover
- slideup-title-black
- slideup-title-white
- title-category-hover
- title-category-visible
- title-date-hover
- title-date-visible
- title-excerp-hover
- view-lightbox-buttons-buttons
- view-lightbox-buttons-text
***************************************************************************/

.overlay-parent {
	position: relative;
	display: block;
	
	a, a img {
			display: block;
			width: 100% !important;
	}
	
	&:hover{
	
		//////////// Plus Hover 
		.overlay-plus-hover {
			visibility: visible;
			opacity: 0.65;
			-moz-opacity: 0.65; 
			-webkit-opacity: 0.65;
		}
		
		/////////// Plus Two Hover 
		.overlay-plus-two-hover {
			visibility: visible; 
			opacity: 1; 
			-moz-opacity: 1; 
			-webkit-opacity: 1;
		}
		
		///////////// Slide Up Title
		.overlay-slideup-title { 
			visibility: visible; 
			opacity: 0.8; 
			-webkit-opacity: 0.8;
			-moz-opacity: 0.8;
			
			span.title{
				visibility: visible; 
				opacity: 1;
				bottom: 60px;
			}
		}
		
		//////////// View iLightbox
		.overlay-view-lightbox-buttons { 
			visibility: visible; 
			opacity: 1; 
			-moz-opacity: 1; 
			-webkit-opacity: 1; 
		}
		
		///////////////// View ILightbox Text
		.overlay-view-lightbox-text { 
			visibility: visible;
			opacity: 1; 
			-moz-opacity: 1; 
			-webkit-opacity: 1;
		}
		
		/////////////// Text & Excerpt Hover 
		.overlay-title-excerpt-hover { 
			visibility: visible; 
			opacity: 1;
			-moz-opacity: 1; 
			-webkit-opacity: 1;
		}
		
		////////////// Title + Category Hover
		.overlay-title-category-hover { 
			visibility: visible; 
			opacity: 1;
			-moz-opacity: 1;
			-webkit-opacity: 1;
		}
		
		/////////// Title + Date Hover
		.overlay-title-date-hover {
			visibility: visible;
			opacity: 1; 
			-moz-opacity: 1; 
			-webkit-opacity: 1;
		}
		
		
		
	}
}

/////////////////// Plus Hover
.overlay-plus-hover {
	visibility: hidden;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0; left: 0;
	background: #000 url("images/overlays/overlay-plus.png") center center no-repeat; transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out;
}

//////////////////// Plus Two Hover 
.overlay-plus-two-hover { 
	visibility: hidden;
	opacity: 0; 
	-moz-opacity: 0;
	-webkit-opacity: 0;
	height: 100%;
	width: 100%; 
	position: absolute;
	top: 0; 
	left: 0;
	background: #000;
	background: rgba(0,0,0,0.8); 
	transition: all .25s ease-in-out; 
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out; 
	
	.fa {
		position: absolute; 
		height: 30px; 
		line-height: 30px;
		width: 30px; 
		text-align: center; 
		top: 50%; 
		margin-top: -15px;
		left: 50%;
		margin-left: -15px;
		color: #fff;
		font-size: 1.231em;
	}
	
}

///////////////// Slide Up Title 
.overlay-slideup-title { 
	&.white { background: #fff; }
	&.black { background: #000;
		span.title{
			color: #fff;
		}
	}
	
	visibility: hidden; 
	opacity: 0; 
	-moz-opacity: 0;
	-webkit-opacity: 0; 
	position: absolute; 
	top: 0;
	right: 0;
	background: #fff; 
	height: 100%; 
	width: 100%; 
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out; 
	-webkit-transition: all .25s ease-in-out; 
	-o-transition: all .25s ease-in-out;
	
	span.title {
		position: absolute; 
		bottom: 30px; 
		width: 100%; 
		text-align: center; 
		padding: 0 30px; 
		color: #000; 
		font-size: 1.077em;
		font-weight: bold;
		font-weight: 600; 
		transition: all .15s ease-in-out;
		-moz-transition: all .15s ease-in-out; 
		-webkit-transition: all .15s ease-in-out;
		-o-transition: all .15s ease-in-out;
		line-height: 1.6em; 
		}
}

/////////////////////////// View Ilightbox
.overlay-view-lightbox-buttons { 
	visibility: hidden; 
	opacity: 0;
	-moz-opacity: 0; 
	-webkit-opacity: 0; 
	background: #000; 
	background: rgba(0,0,0,0.65); 
	position: absolute; 
	top: 0; 
	right: 0; 
	height: 100%;
	width: 100%;
	transition: opacity .25s ease-in-out; 
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out; 
	-o-transition: opacity .25s ease-in-out;
	
	a{
		display: inline-block; 
		color: #fff; 
		border: 2px solid #fff; 
		padding: 0 10px;
		height: 32px;
		line-height: 32px; 
		border-radius: 3px;
		transition: all .2s ease-in-out; 
		-moz-transition: all .2s ease-in-out; 
		-webkit-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		
		&:first-child{
			margin-right: 5px
		}
		
		&:hover{
			background: #fff;
			color: #000; 
			text-decoration: none;
		}
		
		.fa{
			position: relative; top: -2px;
		}
		
	}
	
	&-inner {
		display: table;
		vertical-align: middle; 
		width: 100%;
		height: 100%; 
		text-align: center;
	}
	
	&-buttons {
		vertical-align: middle; 
		display: table-cell; 
		text-align: center;
	}

}

//////////////////
.overlay-view-lightbox-text {
	visibility: hidden; 
	opacity: 0; 
	-moz-opacity: 0;
	-webkit-opacity: 0; 
	background: #000; 
	background: rgba(0,0,0,0.65);
	position: absolute; 
	top: 0; 
	right: 0; 
	height: 100%;
	width: 100%; 
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out; 
	
	a {
		display: inline-block; 
		color: #fff;
		border: 2px solid #fff;
		padding: 0 14px;
		height: 30px; 
		line-height: 30px; 
		border-radius: 3px;
		text-transform: uppercase; 
		font-size: 0.846em;
		font-weight: bold;
		font-weight: 600; 
		letter-spacing: 1px; 
		position: relative; 
		transition: all .15s ease-in-out; 
		-moz-transition: all .15s ease-in-out; 
		-webkit-transition: all .15s ease-in-out;
		-o-transition: all .15s ease-in-out;
		
		&:first-child {
			margin-right: 5px
		}
		
		&:hover {
			background: #fff; 
			color: #000;
			text-decoration: none; 
			padding-right: 32px;
			
			.fa {
				visibility: visible;
			}
		}
		
		.fa {
			visibility: hidden; 
			position: absolute; 
			top: 0;
			height: 30px; 
			line-height: 30px; 
			right: 14px;
		}
	
	}
	///////////// inner 
	&-inner { 
		display: table;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		text-align: center; 
	}
	
	//////////////// button 
	&-buttons { 
		vertical-align: middle;
		display: table-cell; 
		text-align: center;
	}
}

///////////////////// Overlays > Title + Excerpt Hover

.overlay-title-excerpt-hover {
	visibility: hidden; 
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0; 
	background: #000;
	background: rgba(0,0,0,0.75); 
	position: absolute; 
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out; 
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	overflow: hidden; 
	
	//////////// inner 
	&-inner {
		display: table;
		vertical-align: middle; 
		width: 100%; 
		height: 100%;
		text-align: center;
	}
	
	///////// text
	&-text { 
		vertical-align: middle;
		display: table-cell; 
		text-align: center;
		color: #fff; 
		font-weight: bold;
		font-weight: 600; 
		padding: 20px; 
	}
	
	////////// title
	&-title { 
		font-size: 16px; 
		color: #fff; 
		margin: 0 0 10px;
	}
	
	/////////// excerpt
	&-excerpt {
		font-size: 13px;
		font-style: italic;
		font-weight: normal;
		color: #bbb; 
		overflow: hidden;
	}
}

///////////////// Title + Category / Hover 
.overlay-title-category-hover { 
	visibility: hidden;
	opacity: 0;
	-moz-opacity: 0; 
	-webkit-opacity: 0; 
	background: #000; 
	background: rgba(0,0,0,0.75); 
	position: absolute; 
	top: 0;
	right: 0;
	height: 100%; 
	width: 100%; 
	transition: all .25s ease-in-out; 
	-moz-transition: all .25s ease-in-out; 
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out; 
	
	///////////// hover inner 
	&-hover-inner {
		display: table;
		vertical-align: middle;
		width: 100%;
		height: 100%; 
		text-align: center;
	}
	
	//////////// hover text 
	&-hover-text { 
		vertical-align: middle; 
		display: table-cell;
		text-align: center;
		color: #fff;
		font-weight: bold;
		font-weight: 600;
		padding: 20px;
	}
	
	////////////// hover title
	&-hover-title { 
		font-size: 16px;
	}
	
	////////////// hover category 
	&-hover-category {
		font-size: 13px; 
		font-style: italic;
		font-weight: normal; 
		color: #bbb; 
	}	
}

//////////////////////// Title + Category Visible 
.overlay-title-category-visible { 
	background: #000; 
	background: rgba(0,0,0,0.5); 
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;

	//////// inner 
	&-inner {
		display: table;
		vertical-align: middle;
		width: 100%; 
		height: 100%; 
		text-align: center; 
	}
	
	////////// text
	&-text { 
		vertical-align: middle;
		display: table-cell;
		text-align: center;
		color: #fff; 
		font-weight: bold; 
		font-weight: 600;
		padding: 20px;
	}
	
	//////// title 
	&-title { 
		font-size: 16px; 
	}
	
	//////// category 
	&-category { 
		font-size: 13px; 
		color: #fff; 
		font-weight: normal; 
		-webkit-font-smoothing: antialiased; 
	}
}

////////////////////////////// Title + Date Hover 
.overlay-title-date-hover {
	visibility: hidden; 
	opacity: 0; 
	-moz-opacity: 0; 
	-webkit-opacity: 0;
	background: #000; 
	background: rgba(0,0,0,0.75);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%; 
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; 
	-o-transition: all .25s ease-in-out; 
	
	/////// inner 
	&-inner { 
		display: table;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	
	///////// text 
	&-text { 
		vertical-align: middle; 
		display: table-cell;
		text-align: center; 
		color: #fff; 
		font-weight: bold; 
		font-weight: 600;
		padding: 20px; 
	}

	//////// title 
	&-title {
		font-size: 16px;
	}
	
	//////// date 
	&-date {
		font-size: 13px; 
		font-style: italic;
		font-weight: normal;
		color: #bbb;
	}
}

/////////////////////////// Title + Date Visible 
.overlay-title-date-visible { 
	background: #000;
	background: rgba(0,0,0,0.5); 
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;

	/////////// inner
	&-inner {
		display: table; 
		vertical-align: middle;
		width: 100%;
		height: 100%; 
		text-align: center;
	}
	
	/////////// text 
	&-text { 
		vertical-align: middle; 
		display: table-cell;
		text-align: center; 
		color: #fff; 
		font-weight: bold; 
		font-weight: 600; 
		padding: 20px;
	}
	
	///////// Text
	&-text { 
		vertical-align: middle; 
		display: table-cell; 
		text-align: center;
		color: #fff; 
		font-weight: bold;
		font-weight: 600;
		padding: 20px;
	}
	
	//////// Title 
	&-title { 
		font-size: 16px;
	}
	
	//////// Date 
	&-date { 
		font-size: 13px;
		color: #fff;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
	}
}




	
	
	
	
	
	
