/***************************************************************************
Post-Filters-Btn
***************************************************************************/
.cpt-filter-container{
	background: white;
	ul{
		display: inline-block;
		line-height: 20px;
		margin: 0px 0px 20px 0px;
		li{
			float: left;
			margin: 0px 10px;
			background: #efefef;
			padding: 5px 10px;
			color: grey;
			border: 1px solid grey;
			cursor: pointer;
			font-size: 12px;
			font-style: normal;
			text-transform: capitalize; 
			
			&:hover{
				background: #fff;
			}
			
			a{
				color: grey;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}